.page {
    padding: 3px;
    &:nth-child(even) {
        background: url('./old-page.webp');      
        background-size: cover;  
    }
    &:nth-child(odd) {
        background-image: url('./old-page-flip.webp');
        background-size: cover;
    }
}

.cover {
  background-image: url('old-cover.webp');
  background-size: cover;
  background-position: center;
}
.cover-back {
    background-image: url('old-cover-flip.webp');
    background-size: cover;
    background-position: center;
}

.inner-page {
    @include center-child;
    background-image: url('./inner-page.webp');
    background-size: cover;
    width: 450px;
    height: 300px;
    margin: 30% auto;
    color: black;
    font-family: $font-1;
    font-size: 50px;
    border: 5px solid black;
    position: relative;
    padding: 20px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: -10px;
      bottom: -10px;
      width: 100%;
      border: 3px solid black;
    }
    &::before {
      left: -10px;
    }
    &::after {
      right: -10px;
    }
}